@import '@/assets/styles/variables.scss';

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(#000000, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBody {
  width: 400px;
  min-height: 400px;
  border-radius: 10px;
  background-color: $secondaryLight;
  padding: 20px;
}

.modalTitle {
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
  color: $blackColorLight;
}
