@import '@/assets/styles/variables.scss';

.infoBtn {
  font-size: 32px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: $blackColorDark;
  width: 32px;
  height: 32px;
  transition: transform 0.3s ease;

  &:global(.light) {
    color: $blackColorLight;
  }

  &:hover {
    transform: translateY(-2px);
  }
}

.dropdown {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s;
  position: absolute;
  bottom: -70px;
  right: 0;
  padding: 20px;
  border-radius: 10px;
  color: $blackColorDark;
  background-color: $secondaryDark;

  &:global(.light) {
    color: $blackColorLight;
    background-color: $secondaryLight;
  }

  a {
    color: #599ca2;
    transition: color 0.3s;

    &:hover {
      color: #327379;
    }
  }

  &:global(.open) {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}
