.header {
  padding-top: 55px;
  margin-bottom: 80px;
}

.headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.headerBtns {
  display: flex;
  align-items: center;
  gap: 24px;
}
