@import '@/assets/styles/variables.scss';

.field {
  width: 640px;
  height: 280px;
  border-radius: 10px;
  background-color: $secondaryDark;
  font-family: 'Roboto Mono', monospace;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  &:global(.light) {
    background-color: $secondaryLight;
  }
}

.wordsBox {
  width: 600px;
  height: 250px;
  overflow: hidden;
}
