@import '@/assets/styles/variables.scss';

.field {
  width: 640px;
  height: 280px;
  border-radius: 10px;
  background-color: $secondaryDark;
  margin: 0 auto;
  padding: 30px 35px;
  font-family: 'Roboto Mono', monospace;
  font-size: 22px;
  color: #121212;

  &:global(.light) {
    background-color: $secondaryLight;
  }
}
