@import '@/assets/styles/variables.scss';

.duration {
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
}

.durationBody {
  display: flex;
  align-items: center;
  gap: 38px;
  padding: 25px 120px;
  background-color: $secondaryDark;
  border-radius: 10px;

  &:global(.light) {
    background-color: $secondaryLight;
  }
}

.durationText {
  font-size: 22px;
  color: $blackColorDark;

  &:global(.light) {
    color: $blackColorLight;
  }
}

.durationButtons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.durationBtn {
  font-family: 'Roboto Mono', monospace;
  font-size: 22px;
  color: $blackColorDark;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 55px;

  &:global(.light) {
    color: $blackColorLight;
  }

  &:global(.active) {
    color: $selectionColorDark;
  }

  &:global(.light.active) {
    color: #a44200;
  }
}
