@import '@/assets/styles/variables.scss';

.userBtn {
  font-size: 32px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: $blackColorLight;
  width: 32px;
  height: 32px;
  transition: color 0.3s ease;

  &:hover {
    color: #000;
  }
}
