@import '@/assets/styles/variables.scss';

.userBtn {
  margin-bottom: 5px;
  font-size: 32px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: $blackColorDark;
  width: 32px;
  height: 32px;
  transition: transform 0.3s ease;

  &:global(.light) {
    color: $blackColorLight;
  }

  &:hover {
    transform: translateY(-2px);
  }
}
