$primaryLight: #fbf1c7;
$secondaryLight: #daceae;
$textColorLight: #a89984;
$blackColorLight: #37323e;
$selectionColorLight: #fbf1c7;

$primaryDark: #534d56;
$secondaryDark: #656176;
$textColorDark: #decdf5;
$blackColorDark: #f8f1ff;
$selectionColorDark: #62c370;
